{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 offset-sm-3">
   <h3>Password reset completeed!!</h3>


   <div>
    <iframe src="https://giphy.com/embed/mf8UbIDew7e8g" width="480" height="411" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/earth-mf8UbIDew7e8g"></a></p>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}